.header-b1 {
  margin: -13px 0px 0px -80px;
  position: absolute;
  background: transparent;
  border: none;
}
.header-b2 {
  border-radius: 14px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  background: #0075ff;
  width: 100px;
  border: none;
  height: 34px;
}
